li {
    list-style: none;
    margin-top: 2px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-left: 100px;
    padding-right:100px;
}

li:hover {
    background-color: #8dc6ff ;
}

.label{
    background: #34495e;
    cursor: default;
    margin-top: 0px;
    color: white;
}

.label:hover {
    background-color: #34495e ;
}

ul {
    padding-left: 0px;
    background-color: #e4f1fe;
    padding: 2px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
}


.container {
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
}